.account {
	max-height: 666px;
	height: 100%;
	max-width: 374px;
	width: 100vw;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-size: 16px;
	overflow: hidden;
}

@media screen and (max-width: 360px) {
	.account {
		font-size: 13px;
	}
}

@media screen and (max-width: 336px) {
	.account {
		width: 100vw;
		 font-size: 11px;
	}
}

@media screen and (max-height: 666px) {
	.account {
		font-size: 15px;
	}
}

@media screen and (max-height: 634px) {
	.account {
		font-size: 14px;
	}
}

@media screen and (max-height: 582px) {
	.account {
		 font-size: 13px;
	}
}

@media screen and (max-height: 542px) {
	.account {
		font-size: 12px;
	}
}

@media screen and (max-height: 500px) {
	.account {
		font-size: 11px;
	}
}
