div
	height 84%
	width 100%
	background linear-gradient(180deg, #FFFFFF 0%, rgb(238, 238, 238) 49.54%, rgb(155, 155, 155) 100%)
	box-shadow 0px 10px 42px rgba(0, 0, 0, .128)
	border-radius 1em 1em 0 0 // 16px 16px 0 0 @ 16px
	position absolute
	top 19.25em
	transition-timing-function cubic-bezier(0, 1.1, 1, 1)
	transition-duration 300ms
	padding 1.125em 2.25em 8em 1.25em
	overflow-y scroll
	-webkit-overflow-scrolling touch
	scrollbar-width none
	-ms-overflow-style none

	&::-webkit-scrollbar
		display none

