.promos {
	max-width: 21em;
	position: relative;
	margin: .625em 1.1875em 0 1.1875em; /* 10px 19px 0 19px @ font-size 16 */
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: mandatory; /* repeated below on purpose, this is to support legacy scroll snap api */
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
