.card {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	box-shadow: 0px 10px 42px rgba(0, 0, 0, .128);
	border-radius: .5em; /* 8px @ 16px */
	max-width: 336px;
	height: 24.25em; /* 388px height at 16px font-size */
	left: 0;
	right: 0;
	margin: 4.5em 1.1875em 0 1.1875em; /* 72px auto 0 auto @ font-size 16px */
	position: relative;
	color: #2b2b2b;
}

.chartContainer {
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.avatar {
	border-radius: 50%;
	border: .375em solid #ffffff;
	background-color: #ffffff;
	height: 14.375em; /* 230px at 16px font-size */
	width: 14.375em;
	margin-top: -3em; /* -48px @ 16px font-size */
	border: .375em solid #ffffff; /* 6px solid $white @ 16px font-size */
	background-color: #ffffff;
	margin-bottom: 1em;
}

.title {
	font-weight: 500;
	font-size: 1.125em; /* 18px with parent font-size 16px */
	color: #ffffff;
	text-transform: initial;
	margin-top: 1em; /* same as this elements font-size */
	margin-bottom: 1em;
}
